name: Build main.cpp

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        
      - name: Install clang-tidy
        run: sudo apt-get update && sudo apt-get install -y clang-tidy 

      - name: Install clang-format
        run: sudo apt-get update && sudo apt-get install -y clang-format

      - name: Install build tools and GoogleTest
        run: |
          sudo apt-get update
          sudo apt-get install -y g++ cmake clang-tidy clang-format libgtest-dev
          sudo cmake -S /usr/src/gtest -B /usr/src/gtest/build
          sudo cmake --build /usr/src/gtest/build
          sudo cp /usr/src/gtest/build/lib/*.a /usr/lib

      #- name: Run clang-tidy
      #  run: clang-tidy main.cpp -- -std=c++17

      #- name: Run clang-format check
      #  run: clang-format --dry-run --Werror main.cpp
